<app-header></app-header>
<div class="main-container">
  <p-toast position="bottom-center"></p-toast>
  <form [formGroup]="questionForm">
    <div class="header-div">
      <h2 class="section-title">
        {{ isEdit ? "Editar Questão" : "Nova Questão" }}
      </h2>

      <input
        *ngIf="getSelectedQuestionType() !== questionTypeOptions[2].value"
        id="quest"
        type="text"
        pInputText
        formControlName="statement"
        placeholder="Pergunta"
      />

      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 2%;
          align-items: center;
          justify-content: space-between;
          margin-top: 25px;
          width: 100%;
        "
      >
        <div
          style="display: flex; flex-direction: column; gap: 5px; width: 100%"
          *ngIf="!isEdit"
        >
          <h5 class="field-label">Tipo da Questão:</h5>
          <select formControlName="type">
            <option [value]="" disabled selected>Selecione um tipo</option>
            <option
              *ngFor="let option of questionTypeOptions"
              [value]="option.value"
            >
              {{ option.name }}
            </option>
          </select>
        </div>

        <div
          style="display: flex; flex-direction: column; gap: 5px; width: 100%"
        >
          <h5 class="field-label">Nivel de Ensino:</h5>
          <select formControlName="levelOfEducation">
            <option value="" disabled selected>Selecione um nível</option>
            <option
              *ngFor="let option of levelOfEducationOptions"
              [value]="option.value"
            >
              {{ option.name }}
            </option>
          </select>
        </div>
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          margin-top: 15px;
        "
      >
        <h5 class="field-label">Disciplina:</h5>
        <select formControlName="subject">
          <option value="" disabled selected>Selecione uma Disciplina</option>
          <option *ngFor="let option of subjectOptions" [value]="option.value">
            {{ option.name }}
          </option>
        </select>
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          margin-top: 15px;
        "
      >
        <h5 class="field-label">Tópico:</h5>
        <select formControlName="topic">
          <option value="" disabled selected>
            {{
              getSelectedSubject() === ""
                ? "Selecione uma Disciplina Primeiro"
                : "Selecione um Tópico"
            }}
          </option>
          <option *ngFor="let option of topicOptions" [value]="option.value">
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="question-content">
      <app-no-question-type
        *ngIf="questionForm.controls.type.value === null"
      ></app-no-question-type>

      <div *ngIf="questionForm.controls.type.value !== null">
        <app-true-false-type
          *ngIf="getSelectedQuestionType() === questionTypeOptions[2].value"
          (onFieldsUpdate)="onOptionFieldsEdited($event)"
          [parentForm]="questionForm"
        ></app-true-false-type>
        <app-multi-true-false-type
          *ngIf="getSelectedQuestionType() === questionTypeOptions[3].value"
          (onFieldsUpdate)="onOptionFieldsEdited($event)"
          [parentForm]="questionForm"
          [isEdit]="isEdit"
        ></app-multi-true-false-type>
        <app-multi-choice-type
          *ngIf="getSelectedQuestionType() === questionTypeOptions[0].value"
          (onFieldsUpdate)="onOptionFieldsEdited($event)"
          [parentForm]="questionForm"
          [isEdit]="isEdit"
        ></app-multi-choice-type>
        <app-multi-select-type
          *ngIf="getSelectedQuestionType() === questionTypeOptions[1].value"
          (onFieldsUpdate)="onOptionFieldsEdited($event)"
          [parentForm]="questionForm"
          [isEdit]="isEdit"
        ></app-multi-select-type>

        <div
          style="
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
          "
        >
          <label for="exp" class="explanation-label"><b>Explicação:</b></label>
          <textarea
            id="exp"
            rows="5"
            cols="30"
            pInputTextarea
            style="margin-top: 10px"
            formControlName="feedback"
            [autoResize]="true"
            placeholder="Explicação da resposta correta"
          ></textarea>

          <!-- future attachment feature -->
          <!-- <label for="files" class="files-label"
            ><b>{{
              getCurrentFileCount() === 0
                ? "+ Selecione Arquivos Relacionados"
                : getCurrentFileCount() + " Arquivo(s) Selecionado(s)"
            }}</b></label
          >
          <input
            id="files"
            type="file"
            style="display: none"
            (change)="onFileSelect($event)"
            multiple
          /> -->

          <div
            style="
              display: flex;
              justify-content: end;
              width: 100%;
              margin-top: 10px;
            "
          >
            <p-button
              [label]="isEdit ? 'Salvar Mudanças' : 'Enviar'"
              [icon]="loading ? '' : 'pi pi-check'"
              [loading]="loading"
              styleClass="p-button p-button-raised"
              [disabled]="!questionForm.valid"
              (click)="isEdit ? onEditSubmit() : onCreateSubmit()"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
