<div class="topnav">
  <a routerLink="/">
    <i class="pi pi-check-square" style="font-size: 35px"></i>
    Solvify
  </a>
  <div style="position: relative">
    <div class="user-info" (click)="toggle()">
      <p-avatar
        image="{{ this.authService.user?.photoUrl }}"
        styleClass="mr-2"
        size="large"
        shape="circle"
      ></p-avatar>
      <button p-button-text iconPos="right" icon="pi pi-chevron-down">
        Olá, {{ this.authService.user?.firstName }}
        <i *ngIf="!overlayVisible" class="pi pi-chevron-down"></i>
        <i *ngIf="overlayVisible" class="pi pi-chevron-up"></i>
      </button>
    </div>
    <p-overlay [(visible)]="overlayVisible">
      <div class="header-dropdown">
        <button
          pButton
          icon="pi pi-user"
          routerLink="/profile"
          class="dropdown-button"
        >
          Perfil
        </button>
        <button
          pButton
          icon="pi pi-sign-out"
          (click)="this.authService.signOut()"
          class="dropdown-button"
        >
          Sair
        </button>
      </div>
    </p-overlay>
  </div>
</div>
