<app-header></app-header>
<div class="main-page-container">
  <div class="header-container">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
      "
    >
      <button routerLink="/" class="back-button">
        <i class="pi pi-chevron-left back-icon"></i>
      </button>
      <div style="display: flex; align-items: center">
        <i
          *ngIf="question.subjectId === getSubjectIdByName('Matemática')"
          class="pi pi-percentage header-icon"
        ></i>
        <i
          *ngIf="question.subjectId === getSubjectIdByName('Geografia')"
          class="pi pi-hourglass header-icon"
        ></i>
        <i
          *ngIf="question.subjectId === '4'"
          class="pi pi-globe header-icon"
        ></i>
        <span
          *ngIf="question.subjectId === getSubjectIdByName('Química')"
          class="material-symbols-outlined"
        >
          science
        </span>
        <h4 class="subject-title">{{ getSubjectName(question.subjectId) }}</h4>
      </div>
    </div>

    <div style="position: relative">
      <div>
        <p-button
          icon="pi pi-ellipsis-v"
          iconPos="left"
          label="Opçoes"
          styleClass="p-button-primary p-button-text"
          (click)="toggle()"
        ></p-button>
        <p-overlay [(visible)]="overlayVisible">
          <div
            style="
              margin-top: 4px;
              width: 200%;
              background-color: white;
              border-radius: 6px;
              padding: 3px 0px 0px 0px;
              right: 100%;
              position: relative;
              overflow: hidden;
              box-shadow: 0 0 3px #ccc;
            "
          >
            <button
              *ngIf="isAuthor"
              pButton
              icon="pi pi-pencil"
              class="dropdown-button"
              iconPos="left"
              routerLink="/edit-question/{{ question.id }}"
            >
              Editar Questão
            </button>
            <button
              pButton
              icon="pi pi-exclamation-circle"
              class="dropdown-button"
              iconPos="left"
              (click)="onReportButtonClick()"
            >
              Reportar Problema
            </button>
          </div>
        </p-overlay>
      </div>
    </div>

    <!-- <button
      pButton
      label="Reportar Problema"
      icon="pi pi-exclamation-circle"
      class="report-button"
      iconPos="left"
      (click)="onReportButtonClick()"
    ></button> -->
  </div>

  <div
    class="main-question-container"
    [ngClass]="{
      'answer-correct': answerResult === answerResultType.CORRECT,
      'answer-warning': answerResult === answerResultType.HALF,
      'answer-incorrect': answerResult === answerResultType.INCORRECT
    }"
  >
    <div class="question-header">
      <i
        *ngIf="answerResult === null"
        class="pi pi-question-circle question-icon"
      ></i>
      <i
        *ngIf="answerResult === answerResultType.CORRECT"
        class="pi pi-check-circle correct-icon"
      ></i>
      <i
        *ngIf="answerResult === answerResultType.INCORRECT"
        class="pi pi-times-circle incorrect-icon"
      ></i>
      <i
        *ngIf="answerResult === answerResultType.HALF"
        class="pi pi-exclamation-triangle warning-icon"
      ></i>
      <h5>{{ question.statement }}</h5>
    </div>

    <div class="question-options">
      <div *ngIf="question.problemType === problemType.TRUEFALSE">
        <div
          style="
            display: flex;
            flex-direction: row;
            gap: 17px;
            align-items: center;
            padding-left: 45px;
          "
        >
          <p-inputSwitch [(ngModel)]="answer"></p-inputSwitch>
          <label
            style="margin-bottom: 7px"
            [ngClass]="{
              switchtr: answer === true,
              switchfls: answer === false
            }"
            >{{ answer ? "Verdadeiro" : "Falso" }}</label
          >
        </div>
      </div>

      <div *ngIf="question.problemType === problemType.MULTICHOICE">
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 17px;
            align-items: flex-start;
            justify-content: center;
            padding-left: 45px;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 15px;
            "
            *ngFor="let item of question.items; let idx = index"
          >
            <p-radioButton
              [value]="idx"
              [(ngModel)]="answer"
              [inputId]="item + '-' + idx"
            ></p-radioButton>
            <label [for]="item + '-' + idx" class="option-label">{{
              item
            }}</label>
          </div>
        </div>
      </div>

      <div
        *ngIf="
          question.problemType === problemType.MULTISELECT ||
          question.problemType === problemType.MULTITRUEFALSE
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 17px;
            align-items: flex-start;
            padding-left: 45px;
          "
          [formGroup]="answerFormGroup"
        >
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 15px;
            "
            *ngFor="let item of question.items; let idx = index"
          >
            <label class="item-container"
              >{{ item }}
              <input
                type="checkbox"
                formArrayName="itemAnswers"
                [value]="idx"
                (change)="onCheckboxChange($event, idx)"
              />
              <span class="checkmark"></span>
            </label>
            <!-- <input
              type="checkbox"
              formArrayName="itemAnswers"
              [value]="idx"
              (change)="onCheckboxChange($event, idx)"
              class="checkbox-input"
              [id]="item + '-' + idx"
            />
            <label [for]="item + '-' + idx" class="option-label">{{
              item
            }}</label> -->
          </div>
        </div>
      </div>
    </div>

    <div class="question-footer">
      <button
        *ngIf="isSubmitted"
        pButton
        label="Upvote"
        icon="pi pi-thumbs-up"
        class="p-button-outlined p-button-success"
        (click)="onVoteClick(true)"
      ></button>
      <button
        *ngIf="isSubmitted"
        pButton
        label="Downvote"
        icon="pi pi-thumbs-down"
        class="p-button-outlined p-button-danger"
        (click)="onVoteClick(false)"
      ></button>
      <button
        *ngIf="!isSubmitted"
        pButton
        label="Avaliar"
        [icon]="isSubmissionLoading ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
        class="submit-button"
        [disabled]="isSubmitEnabled() || isSubmissionLoading"
        (click)="onSubmit()"
      ></button>
      <button
        *ngIf="isSubmitted"
        pButton
        label="Avançar"
        [icon]="'pi pi-chevron-right'"
        class="submit-button"
        routerLink="/"
        iconPos="right"
      ></button>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    "
  >
    <div
      [ngClass]="{
        'explanation-container-answered': answerResult !== null,
        'explanation-container-unanswered': answerResult === null
      }"
    >
      <i
        *ngIf="answerResult === null"
        class="pi pi-lock"
        style="font-size: 36px; color: #47525e"
      ></i>
      <h5 *ngIf="answerResult === null">
        Avalie sua resposta para acessar a explicação
      </h5>

      <p *ngIf="answerResult !== null">{{ question.feedback }}</p>
    </div>
  </div>
  <p-toast position="bottom-center"></p-toast>
  <p-dialog
    header="Reportar Problema"
    [(visible)]="isReportModalVisible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p class="report-text"></p>
    <span class="p-float-label">
      <textarea
        id="float-input"
        pInputTextarea
        [autoResize]="true"
        [(ngModel)]="reportText"
        style="min-height: 152px !important; width: 100%"
      ></textarea>
      <label for="float-input"
        >Faça uma breve descrição do problema encontrado nesta questão.</label
      >
    </span>

    <ng-template pTemplate="footer">
      <p-button
        [icon]="!sendingReport ? 'pi pi-check' : 'pi pi-spin pi-spinner'"
        (click)="reportProblem()"
        [disabled]="sendingReport"
        label="Reportar"
        styleClass="p-button-text p-button-danger"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
