@import "../../../styles.sass"

/* colors */
$primary: #212529
$secondary: #EDEEF0

$font: #4F5965

$white: #ffffff

.main-wrapper
    display: flex
    width: 100%
    height: 85vh
    .left-col
        padding-left: 70px
        width: 18vw
        .left-col-label-cat
            font-size: 20px
            font-weight: bold
            font-family: $standard-font-family
            color: $font
            margin-left: 20px
            margin-top: 20px
        .subject-search
        .left-top-separator
            background: $secondary
            height: 1px
            width: 90%
            margin: 10px 0px 10px 0px
        .subjects-container
            overflow-y: scroll
            overflow-x: hidden
            height: 86.9%
            .subject-card
                width: 80%
                display: flex
                cursor: pointer
                .subject-icon
                    display: flex
                    height: 40px
                    width: 40px
                    margin-top: 9px
                    margin-left: 20px
                    .pi
                        height: auto
                        margin: 0 auto
                        padding: 12px
                        position: relative
                    .material-symbols-outlined
                        height: auto
                        margin: 0 auto
                        padding: 8px
                        position: relative
                    .languages
                        font-family: $standard-font-family
                        font-size: 15px
                        line-height: 28px
                        color: #212529
                        height: auto
                        margin: 0 auto
                        padding: 6px
                        position: relative
                .subject-label
                    padding-left: 10px
                    line-height: 55px
                    font-size: 15px
                    font-weight: bold
                    font-family: $standard-font-family
                    color: $font


    .right-col
        width: 77vw
        padding: 10px 70px 0px 13vw
        border-left: 1px solid $primary
        height: 85vh
        .right-col-header
            display: flex
            align-items: center
            font-size: 30px
            font-family: $standard-font-family
            color: $font
            width: 40vw
            .questions-selector
                text-align: center
                width: 50%
                cursor: pointer
            .lists-selector
                text-align: center
                width: 50%
                cursor: pointer
        .question-grid-container
            height: 76vh
            width: fit-content
            overflow-y: scroll
            overflow-x: hidden 
            .grid-item
                font-size: 30px
                text-align: center
                padding: 1vh 0vh 1vh 0vh
                .question-card
                    cursor: pointer
                    width: 40vw
                    height: fit-content
                    background: $secondary
                    padding: 10px 10px 0px 10px
                    margin-right: 10px
                    border-radius: 0px
                    .question-card-header
                        display: flex
                        height: 20%
                        font-size: 20px
                        font-weight: bold
                        font-family: $standard-font-family
                        color: $font
                        .subject-icon-mini
                            height: 30px 
                            width: 30px 
                            border-radius: 4px
                            margin-right: 10px
                            background: $white
                            .pi
                                height: auto
                                margin: 0 auto
                                padding: 2px
                                position: relative
                            .material-symbols-outlined
                                height: auto
                                margin: 0 auto
                                padding: 2px
                                position: relative
                    .question-card-content
                        display: flex
                        border-top: 1px
                        height: 54%
                        margin-top: 3%
                        margin-left: 6%
                        font-size: 18px
                        font-family: $standard-font-family
                        color: $font
                    .question-card-footer
                        display: flex
                        border-top: 1px
                        height: 15%
                        margin-top: 3%
                        margin-left: 6%
                        font-size: 14px
                        font-family: $standard-font-family
                        color: $font


    .add-question-button
                height: 110px
                width: 110px
                border-radius: 65px
                background: $font
                text-align: center
                line-height: 110px
                font-size: 100px
                font-family: $standard-font-family
                user-select: none
                color: white
                cursor: pointer
                position: fixed
                bottom: 30px
                right: 30px
